<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">Kembali</ion-button>  <!-- Tombol Kembali -->
    </ion-buttons>
    <ion-title>Pesanan Makanan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <p class="welcome">Daftar Pesanan Makanan</p>

    <!-- Menampilkan Loading Spinner jika data sedang dimuat -->
    <ion-spinner *ngIf="loading"></ion-spinner>

    <!-- Menampilkan Pesan Error jika gagal mengambil data -->
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    <!-- Tampilkan daftar pesanan setelah data berhasil diambil -->
    <ion-list *ngIf="!loading && orders.length > 0">
      <ion-item *ngFor="let item of orders">
        <ion-label>
          <h2>{{ item.nama_makanan }}</h2>
          <p>Jumlah: {{ item.porsi }}</p>
          <p>Jumlah: {{ item.deskripsi }}</p>
          <p>Jumlah: {{ item.shift }}</p>
          <p>Tanggal: {{ item.untuk_tanggal }}</p>

          <!-- Menampilkan Foto -->
          <img *ngIf="item.foto" [src]="item.foto" alt="Foto Pesanan" width="100" height="100" />
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- Tampilkan pesan jika data kosong -->
    <p *ngIf="!loading && orders.length === 0">Tidak ada pesanan.</p>
  </div>
</ion-content>
