<ion-content class="ion-padding">
  <div class="container">
    <p class="welcome">Selamat Datang!</p>

    <div class="switch">
      <ion-button expand="block" fill="solid" shape="round" class="btn-masuk" (click)="login()">Masuk</ion-button>
      <ion-button expand="block" fill="clear" shape="round" class="btn-daftar" routerLink="/register">
        Daftar
      </ion-button>
    </div>

    <h2 class="title">Login</h2>
    <ion-icon name="log-in-outline" class="login-icon"></ion-icon>

    <form (submit)="login()">
      <ion-item lines="none" class="input-box">
        <ion-label position="floating">Username</ion-label>
        <ion-input [(ngModel)]="username" name="username" required></ion-input>
        <ion-icon name="mail-outline" slot="end"></ion-icon>
      </ion-item>

      <ion-item lines="none" class="input-box">
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="password" type="password" name="password" required></ion-input>
        <ion-icon name="paper-plane-outline" slot="end"></ion-icon>
      </ion-item>

      <ion-item lines="none" class="remember-box">
        <ion-checkbox slot="start" ></ion-checkbox>
        <ion-label>Remember me</ion-label>
      </ion-item>

      <ion-button expand="block" shape="round" class="login-btn" type="submit">Masuk</ion-button>
    </form>
  </div>
</ion-content>
