<ion-content class="login-content">
  <div class="login-header">
    <h1>Login<br>sebagai?</h1>
    <ion-icon name="swap-horizontal-outline" class="icon"></ion-icon>
  </div>

  <div class="login-options">
    <div class="option karyawan">
      <ion-button (click)="goToKaryawan()" fill="solid" class="arrow-button" color="light">
        →
      </ion-button>
      
      <h2>Karyawan</h2>
    </div>

    <div class="option koki">
      <h2>Koki</h2>
      <ion-button (click)="goToKoki()" fill="solid"i class="arrow-button" color="dark">→</ion-button>
    </div>
  </div>
</ion-content>